{% extends 'base.html' %}
{% load static %}

{% block title %}Supplier List{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'customer/list.css' %}"
{% endblock css %}


{% block content %}
<h1>Location Search</h1>
<section class="list-zone">
    
    <div class="search-container">
        
        <div class="search">
          <input type="text" id="zip-code-input" placeholder="Enter Pin Code" />
          {% comment %} <i class="search" onclick="searchStores()"></i> {% endcomment %}
        </div>
      </div>

    <div class="grid=wrapper">

    </div>  
    </section>

    <script>
        alert("AquaMen is currently working in indore only");
    </script>
{% endblock content %}
