
.container {
  display: flex;
  align-items: center;
  padding: 2vw;
  justify-content: center;
  height: 80vh;
  font-family: Quicksand;
}

.btn {
  font-weight: 500px;
  border-radius: 300px;
  text-transform: uppercase;
  transition: transform 0.5s;
} 

.btn-primary:hover {
	background-color: orangered;
	border-color: orangered;
	border-width: 3px;
  transform: scale(1.2);
}

.btn-xl {
	padding: 1rem 1rem;
}


.box2 {
  background-color: #2D56EB;
}

.about-us {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
  color: rgb(255, 255, 255);
  font-family: Quicksand;

  
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
  color: rgb(255 , 255, 255);
  font-family: Quicksand;
}

.gallery-box {
  margin-top: 25vh;
  
}

.title {
 
 display: flex;
 align-items: center;
 justify-content: center;
 color: rgb(255 , 255, 255);
 font-family: Quicksand;
}

/*Image Grid*/
.image-box {
  margin-top: 5vh;
  display: grid;
  grid-gap: 50px;
  grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
  align-content: center;
  justify-content: center;

}


.box > img {
  transition: transform 1s;
}

.box {
  padding: 5vh;
}

.box >img:hover {
  transform: scale(1.1);
}
